@media screen and (max-width:700px) {

    p {
        font-size: 15px;
      }

    .nav {
        white-space: normal;
        background: transparent;
        height: auto;
        width: 82px;
        position:fixed;
        z-index: 1;
        overflow-x: hidden;
        left:1px;
        top:48px;
        margin-left: 10px;
    
    }

    h1 {
        background-color: rgb(44, 44, 71);
        color: rgb(231, 231, 231);
        text-align: center;
        padding: 25px;
        font-size: 60px;
        font-style: bold;
        
      }

    .row {
        padding-right: 5px;
    }

    .column {
        padding-left: 115px;
        float: right;
        width: 90%;
      }
  
    .column1 {
        float: right;
        width: 10%;
      }
  
    .nav a {
        position: sticky;
        float: right;
      }
  
    .maincontent {
        text-align: center;
        margin-left:120px;
        margin-right: 60px;
      }

    h2 {
        color: rgb(132, 150, 165);
        text-align: center;
        font-size: 28px;
        font-weight: 100;
        font-style: italic;
        
      }

    .avatar  {
        height:130px;
      }

    .nav a {
        display: block;
        padding: 0.3rem 1rem;
        color:rgb(169, 255, 236);
        text-decoration: none;
        font-size: 18px;
      }

    .column2 {
        width:25%;
        float:right;
        margin-left: 1px;
      }

    .socialmedia {
        height:17px;
        padding-left:10px;
        padding-right:20px;
      }

    .row2 {
        margin-left: 31px;
    }
}