@media screen and (min-width:501px) and (max-width:999px) {
    p {
        font-size: 18px;
      }

    .nav {
        white-space: normal;
        background: transparent;
        height: auto;
        width: 100px;
        position:fixed;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 2px;
        left:1px;
        top:188px;
        right:1px;
        margin-left:30px;
    
    }

    h1 {
        
        color: rgb(231, 231, 231);
        text-align: center;
        padding-top: 20px;
        font-size: 80px;
        font-style: bold;
        
      }


  
    .nav a {
        position: sticky;
        float: right;
      }
  
    .maincontent {
        text-align: center;
        margin-left:120px;
        margin-right: 60px;
      }

    

    h2 {
    
        color: rgb(132, 150, 165);
        text-align: center;
        font-size: 33px;
        font-weight: 100;
        font-style: italic;
        
      }

    .avatar  {
        height:150px;
        margin: 10px;
      }

    .nav a {
        display: block;
        padding: 0.3rem 1rem;
        color:rgb(169, 255, 236);
        text-decoration: none;
        font-size: 20px;
      }

    

    .socialmedia {
        height:32px;
      }

    
}