@media screen and (min-width:631px) and (max-width:999px) {
    p {
        font-size: 18px;
      }

    .nav {
        white-space: normal;
        background: transparent;
        height: auto;
        width: 100px;
        position:fixed;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 2px;
        left:1px;
        top:300px;
        margin-left:30px;
    
    }

    h1 {
        
        color: rgb(231, 231, 231);
        text-align: center;
        padding-top: 20px;
        font-size: 80px;
        font-style: bold;
      }
  
    h2 {
        color: rgb(132, 150, 165);
        font-size: 30px;
        font-style: italic;
      }

    .avatar  {
        height:150px;
        
      }

    .nav a {
        display: block;
        padding: 0.3rem 1rem;
        color:rgb(171, 212, 250);
        text-decoration: none;
        font-size: 20px;
        position: sticky;
        float: right;
      }

    .socialmedia {
        height:30px;
      }

    .stuff {
      width: 400px;
     
    }

    
    #home {
      text-align: center;
    }

    #about {
      text-align: left;
    }
    
}