@media screen and (max-width:630px) {

    .row{
      font-size: 17px;
    }

    .nav {
        white-space: normal;
        background: transparent;
        height: auto;
        width: 110px;
        position:fixed;
        z-index: 1;
        overflow-x: hidden;
        left:1px;
        top:300px;
        margin-left: 10px;
    
    }

    h1 {
        color: rgb(231, 231, 231);
        text-align: center;
        padding: 25px;
        font-size: 66px;
        font-style: bold;
        
      }

    

    h2 {
        color: rgb(137, 176, 207);
        text-align: center;
        font-size: 28px;
        font-style: italic;
        
      }

      h3{
        color: rgb(132, 150, 165);
        font-size: 25px;
      }

    #avatar  {
        height:130px;
        
      }

    .nav a {
        display: block;
        padding: 0.3rem 1rem;
        color:rgb(171, 212, 250);
        text-decoration: none;
        font-size: 18px;
        position: sticky;
        float: right;
      }

    .socialmedia {
        height:30px;
      }

  
    #home {
      text-align: center;
      padding-bottom: 30px;
    }

    #about {
      text-align: left;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    #projects {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    #content {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    
    .maincontent {
      width:350px;
      padding-left: 100px;
    }

    .aboutcontent {
      display:grid;
      grid-template-rows: auto;
      grid-template-columns: auto 100px;
      
    }

    .introabout{
      text-align: center;
    }
  
    .amypicture{
      width:90px;
      border-radius: 30px;

    }
  
   .amy {
     align-self: center;
     justify-self: end;
   }

   .aboutcontent1{
     font-size: 14px;
   }

   .aboutcontent2{
     font-size: 16px;
   }

   .skills{
    text-align: center;
    padding-top: 20px;

  }

  .skillbars{
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    row-gap:5px;
    font-size: 19px;
    
  }

  .C{
    justify-self: start;
    font-size: 17px;
  }

  .Cplusplus{
    justify-self: start;
    font-size: 17px;
  }

  .Csharp{
    justify-self: start;
    font-size: 17px;
  }

  .python{
    justify-self: start;
    font-size: 17px;
  }

  .fusion{
    justify-self: start;
    font-size: 16px;
    
  }
  
  .spanish{
    justify-self: start;
    font-size: 17px;
    
  }
  .khmer{
    justify-self: start;
    font-size: 17px;
   
  }
  

  .Clevel{
    background: linear-gradient(to right, rgb(108, 216, 193) 55%, rgb(65, 70, 121) 30%);
    border-radius: 16px;
    height: 21px;
    margin-left:12px;
  }

  .Cpluspluslevel{
    background: linear-gradient(to right, rgb(108, 216, 193) 60%, rgb(65, 70, 121) 35%);
    border-radius: 16px;
    height: 21px;
    margin-left:12px;
  }
  
  .Csharplevel{
    background: linear-gradient(to right, rgb(108, 216, 193) 70%, rgb(65, 70, 121) 30%);
    border-radius: 16px;
    height: 21px;
    margin-left:12px;
  }

  .pythonlevel{
    background: linear-gradient(to right, rgb(108, 216, 193) 70%, rgb(65, 70, 121) 30%);
    border-radius: 16px;
    height: 21px;
    margin-left:12px;
  }

  .fusionlevel{
    background: linear-gradient(to right, rgb(108, 216, 193) 35%, rgb(65, 70, 121) 30%);
    border-radius: 16px;
    height: 21px;
    margin-left:12px;
  }

  .khmerlevel{
    background: linear-gradient(to right, rgb(108, 216, 193) 70%, rgb(65, 70, 121) 0%);
    border-radius: 16px;
    height: 21px;
    margin-left:12px;
    margin-bottom: 30px;
  }

  .spanishlevel{
    background: linear-gradient(to right, rgb(108, 216, 193) 25%, rgb(65, 70, 121) 0%);
    border-radius: 16px;
    height: 21px;
    margin-left:12px;
  }
  
  .cvlink {
    font-size: 18px;
    text-decoration: none;
    color: rgb(171, 212, 250);
    
  }

}