@media screen and (min-width:1000px) {
    

    .nav {
        white-space: normal;
        background: transparent;
        height: auto;
        width: 120px;
        position:fixed;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 2px;
        left:1px;
        top:300px;
        margin-left: 30px;
    
    }

    h1 {
     
        color: rgb(231, 231, 231);
        text-align: center;
        padding: 20px;
        font-size: 100px;
        font-style: bold;
      }

    .column {
        padding-right: 40px;
        padding-left: 100px;
        float: right;
        width: 85%;
        
      }
  
    .column1 {
        float: right;
        width: 15%;
        
      }
  
    .maincontent {
        text-align: center;

        
      }

    .stuff{
        width: 725px;
    }

    h2 {
    
        color: rgb(132, 150, 165);
        text-align: center;
        font-size: 34px;
        font-style: italic;
      }

    #avatar  {
        height:180px;
        margin:10px;
        
      }

    .nav a {
        display: block;
        padding: 0.3rem 1rem;
        color:rgb(171, 212, 250);
        text-decoration: none;
        font-size: 20px;
        position: sticky;
        float: right;
      }

    .socialmedia {
        height:30px;
      }

      #home {
        padding-bottom: 40px;
      }

      #about {
        text-align: left;
        padding-top: 40px;
        padding-bottom: 40px;
      }

      #projects {
        padding-top: 40px;
        padding-bottom: 40px;
      }
  
      #content {
        padding-top: 40px;
        padding-bottom: 40px;
      }


      .aboutcontent {
        display:grid;
        grid-template-rows: auto;
        grid-template-columns: 250px 250px;
        font-size: 19px;
        justify-content: center;
      }

      .aboutinfo{
        justify-self: start;
        align-self: center;
      }
    
      .amypicture{
        width:200px;
        border-radius: 30px;
      }

      .amy{
        justify-self: end;
        align-self: start;
        padding-bottom: 10px;
      }

      .aboutcontent2 {
        font-size: 19px;
      }


      .row{
        font-size: 19px;
      }
    
}