@media screen and (max-width:630px) {

    p {
        font-size: 17px;
      }

    .nav {
        white-space: normal;
        background: transparent;
        height: auto;
        width: 82px;
        position:fixed;
        z-index: 1;
        overflow-x: hidden;
        left:1px;
        top:170px;
        margin-left: 10px;
    
    }

    h1 {
        color: rgb(231, 231, 231);
        text-align: center;
        padding: 25px;
        font-size: 66px;
        font-style: bold;
        
      }

    

    h2 {
        color: rgb(132, 150, 165);
        text-align: center;
        font-size: 25px;
        font-style: italic;
        
      }

    .avatar  {
        height:130px;
      }

    .nav a {
        display: block;
        padding: 0.3rem 1rem;
        color:rgb(171, 212, 250);
        text-decoration: none;
        font-size: 18px;
        position: sticky;
        float: right;
      }

    .socialmedia {
        height:30px;
      }

    .stuff{
      width:300px;
      
    }

    
    #home {
      text-align: center;
    }

    #about {
      text-align: left;
    }
    
    .maincontent {
      padding-left: 50px;
    }
}