
html {
  scroll-behavior: smooth;
}

body {
    background: rgb(34, 34, 58);
    font-family: 'Nunito', sans-serif;
  }

  p {
    color: white;
    
  }

  .row2::after {
    content:"";
    display: table;
    clear: both;
    
  }
  
  .row::after {
    content:"";
    display: table;
    clear: both;
    
  }

  .greenword {
    color:rgb(132, 255, 228);
  }

  .nav a.active {
    color: rgb(0, 204, 255);
  }

  .nav a:hover {
    color: rgb(88, 255, 219);
  }